.menu {
  position: relative;
  display: inline-block;
  > summary::marker {
    content: "";
  }
  > .items {
    position: absolute;
    top: 100%;
    z-index: 1;

    border: 1px solid #444;
    border-radius: 3px;
    padding: 2px;
    width: max-content;
    background-color: #ccc;

    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}
