:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;

  overflow-wrap: anywhere;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --page-width: 800px;
}

body:not(.tree-page) {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: var(--page-width);
  padding: 1em;
}

body.overview:has(#hide-all-seen:checked) .all-seen {
  display: none;
}

#config-links {
  margin-block: 1.5em;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: 3px 1em;
  place-items: center;
  .client-name {
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 0.5em;
    img {
      width: 1.2em;
      height: 1.2em;
      border-radius: 20%;
    }
  }
}


#access-tokens {
  margin-block: 1.5em;
  overflow-x: auto;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 2fr 3fr repeat(3, max-content);
  gap: 3px 0.5em;
  align-items: center;

  .access-instance,
  .access-token {
    white-space: preserve nowrap;
    overflow-x: auto;
    font-size: smaller;
  }
  .access-token {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: grey;
    }
  }
  &:has(.view-all:hover),
  .row:has(.view:hover) {
    .access-token::after {
      content: none;
    }
  }

  input {
    font-size: smaller;
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

h1 {
  overflow-x: hidden;
  margin: 1rem 0rem;
  border-block: 2px solid #000;
  padding: 0.5rem;
  background-color: #eee;
  font-size: 150%;
  font-weight: bold;
}

pre {
  overflow-x: auto;
  padding: 1rem;
  background-color: #ddd;
  &:empty {
    display: none;
  }
}

.bookmarklet-container {
  margin-block: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  #bookmarklet {
    padding: 0.5rem;
    white-space: pre;
    overflow-x: auto;
  }
  button {
    align-self: start;
  }
}

p {
  margin-block: 4px;
}

a.follow-toot,
button {
  margin: 0;
  border: none;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: smaller;
  background-color: #000;
  color: #fff;
  text-align: start;
  transition: filter 0.2s;
  &:disabled {
    opacity: 0.6;
  }
  &:hover {
    filter: drop-shadow(#000 0 0 4px);
  }
  &:active {
    filter: drop-shadow(#000 0 0 8px);
  }
}

code {
  font-size: 100%;
  margin-inline: -1px;
  border-radius: 3px;
  padding: 0 1px;
  background: #0002;
}

#overview {
  margin-top: 1.5em;
  margin-bottom: calc(1.5em - 10px);
  overflow-x: auto;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: [start] 1fr repeat(6, max-content) [end];
  gap: 4px 0.8em;
  align-items: first baseline;

  .root-author {
    min-width: 10em;
    img.root-author-icon {
      width: 1.5cap;
      height: 1.5cap;
      border-radius: 20%;

      position: relative;
      top: 0.15cap;
    }
  }
  .separator {
    grid-column-start: start;
    grid-column-end: end;
    border-bottom: 1px solid #aaa;
  }
  .teaser {
    grid-column-start: start;
    grid-column-end: end;
    max-width: 100%;
    font-size: 90%;
    text-wrap-mode: nowrap;
    overflow-x: hidden;
  }
}

#new-entry {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  > input {
    flex-grow: 1;
    min-width: 25em;
  }
}

.bold {
  font-weight: bold;
}

.right {
  justify-self: end;
}

.line-through {
  text-decoration: line-through;
}

.menu-entry-with-key-hint {
  display: flex;
  row-gap: 1em;
  justify-content: space-between;
}

.keyboard {
  border-radius: 3px;
  padding-inline: 2px;
  background-color: #eee;
  color: #000;
}

.warn {
  background-color: #ff0;
  margin-inline: -3px;
  border-radius: 5px;
  padding-inline: 3px;
}

.contents {
  display: contents;
}

.custom-emoji {
  /* height: 1.3cap;

  position: relative;
  bottom: -0.18cap; */
  height: .7lh;

  position: relative;
  bottom: -0.12lh;
}

.sanitization-error {
  border: 2px solid #f00;
  padding: 0.5em;
  background-color: #fff;
  color: #f00;
}

[hidden] {
  display: none !important;
}