:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;

  overflow-wrap: anywhere;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --page-width: 800px;

  accent-color: blue;
}

body:not(.tree) {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: var(--page-width);
  padding: 1em;
}

body.overview:has(#hide-all-seen:checked) .all-seen {
  display: none;
}

body.tree {
  margin: 1em 0 0 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header.tree-header {
    display: contents;

    > * {
      padding-inline: 1rem;
    }

    #not-following,
    #app {
      position: sticky;
      top: 0;
      z-index: 1; /* stay above even relatively positioned content */

      box-shadow: 0 5px 5px #aaa8;
      padding: 0.5em 1em;
      background-color: #fff;

      display: flex;
      flex-direction: column;
      gap: 0.5em;

      .tree-head-author {
        font-size: larger;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5em;

        img#tree-head-avatar {
          width: 1.5em;
          height: 1.5em;
          border-radius: 20%;
        }
        #tree-head-name {
          font-weight: bold;
        }
      }
      .tree-head-statistics {
        display: flex;
        gap: 1em;
      }
      #user-stats {
        display: flex;
        gap: 0.5em;
        overflow-x: auto;
        padding-bottom: 8px;
        margin-bottom: -8px;
        span {
          display: flex;
          gap: 2px;
          align-items: center;
          overflow-wrap: normal;
          img {
            width: 1.2em;
            height: 1.2em;
            border-radius: 20%;
          }
        }
      }
      .tree-head-buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5em;
      }
      .tree-head-choose-mode {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
      }
    }
  }
  /* if selected by the user, hide bodies of unseen toots: */
  &:has(#display-unseen > option[value="header-only"]:checked) .toot:has(input.seen:not(:checked)) .toot-full-body,
  /* if selected by the user, hide bodies of seen toots: */
  &:has(#display-seen   > option[value="header-only"]:checked) .toot:has(input.seen:checked      ) .toot-full-body,
  /* if selected by the user, hide seen toots, unless there is an unseen nested toot: */
  &:has(#display-seen   > option[value="hidden"     ]:checked) ul.toot-list > li:not(:has(.toot input.seen:not(:checked))),
  /* if the "unless ..." exception above applies, hide at least the toot's body: */
  &:has(#display-seen   > option[value="hidden"     ]:checked) .toot:has(input.seen:checked      ) .toot-full-body {
    display: none;
  }
}

#toot-tree {
  flex-grow: 1;
  background-color: #aaa;

  #ancestors {
    padding: 0.2em 1em;
    background-color: #888;

    .more-ancestors {
      margin-block: 0.5em;
      padding-inline: 1em;
    }
  }

  #descendants {
    padding-inline: 1em;
  }

  &:empty {
    display: none;
  }
  ul.toot-list {
    margin: 0;
    padding: 0;
    > li {
      margin: 0;
      list-style: none;
    }
  }
  ul.toot-list {
    ul.toot-list {
      padding-left: 2em;
    }
    > li {
      position: relative;
      /* TODO replace empirical lengths with calculated ones */
      &::before {
        content: "";
        position: absolute;
        /* This default top/bottom pair makes the height 0: */
        top: 0px;
        bottom: 100%;
        left: 0.91em;
        border-left: 2px solid #333;
      }
      &.uplink-ancestors::before {
        top: -16.5px;
      }
      &.uplink-thread::before {
        top: -7px;
      }
      &.uplink-child::before {
        top: calc(-1em - 8px);
        bottom: auto;
        left: -1.09em;
        width: 2em;
        height: 2em;
        /* lower-left quarter circle: (idea stolen from phanpy.social) */
        border-radius: 50%;
        border: 2px solid transparent;
        border-left-color: #333;
        transform: rotate(-45deg);
      }

      &::after {
        content: "";
        position: absolute;
        left: -1.1em;
        top: -7px;
        bottom: 0;
        border-left: 2px solid transparent;
      }
      &.bridge-thread::after {
        border-left-color: #333;
      }
      &.bridge-child::after {
        bottom: -1.5px;
        border-left-color: #333;
      }
    }
  }

  &.hierarchical #ancestors ul.toot-list > li {
    &::before {
      top: -7px;
    }
    &:first-child::before {
      top: 0;
    }
  }

  .toot {
    box-sizing: border-box;
    max-width: var(--page-width);
    border-radius: 0.5em;
    margin: 0.5em 0;
    background-color: #ddd;
    .toot-head {
      border-radius: 0.5em;
      padding: 5px 1em;

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.5em;

      .thread-pos {
        border-radius: 5px;
        padding-inline: 5px;
        font-size: smaller;
        background-color: #eee;
      }
      drop-down-menu:empty {
        display: none;
      }
      .open-link {
        display: inline-flex;
        gap: 0.5em;
        align-items: center;

        .link-icon {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
      .visibility {
        padding: 0 0.5em;
        border-radius: 1lh;
        background-color: "#cc0";
      }
      img.toot-author-avatar {
        height: 1.5em;
        width: 1.5em;
        border-radius: 20%;
      }
      .toot-author {
        font-weight: bold;
      }
    }
    &.visibility-public > .toot-head > .visibility {
      display: none;
    }
    > .toot-head > .visibility {
      background-color: #ff8;
    }
    /* TODO also distinguish visibility "private" from "direct"? */
    summary {
      margin-block: 0.5em;
      border-radius: 4px;
      padding: 2px 5px;
      cursor: pointer;
      font-size: smaller;
      background-color: #000;
      color: #fff;
    }
    .toot-full-body {
      border-bottom-left-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      padding: 5px 1em;
      background-color: #fff;
    }
    .toot-body {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .toot-content {
        p {
          margin-block: 0.3em;
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        /* TODO make these hacks configurable?: */
        span.ellipsis::after {
          content: "...";
        }
        span.invisible {
          display: inline-block;
          width: 0;
          text-wrap-mode: nowrap;
          overflow-x: hidden;
        }
      }
      details.sensitive {
        summary::after {
          content: "Show sensitive media";
        }
        &[open] {
          summary::after {
            content: "Hide sensitive media";
          }
        }
      }
      ul.attachments {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1em;
        list-style: none;
        > li.attachment {
          display: flex;
          flex-direction: column;
          align-items: start;
          img.preview {
            max-width: 100%;
            border: 1px solid #888;
          }
        }
      }
      div.poll {
        ul.poll {
          margin: 0;
          border-radius: 0.5em;
          padding: 0.5em;
          background-color: #eee;
          display: inline-grid;
          grid-template-columns: auto auto;
          column-gap: 1em;
          li.poll-option {
            display: contents;
            span.poll-option-votes {
              justify-self: right;
            }
          }
        }
        .poll-votes-count {
          font-size: smaller
        }
        .poll-expiry {
          font-size: smaller;
          &.poll-ongoing::before {
            color: #080;
            content: "☐ ";
          }
          &.poll-expired::before {
            color: #f00;
            content: "☑ ";
          }
        }
      }
      .card {
        box-sizing: border-box;
        width: 100%;
        align-self: flex-start;
        border: 1px solid #888;
        border-radius: 0.5em;
        padding: 0.5em;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;
        .card-title {
          font-weight: bold;
          font-size: larger;
        }
        .card-image {
          max-width: 100%;
        }
      }
    }
  }
}

#config-links {
  margin-block: 1.5em;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: 3px 1em;
  place-items: center;
  .client-name {
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 0.5em;
    img {
      width: 1.2em;
      height: 1.2em;
      border-radius: 20%;
    }
  }
}


#access-tokens {
  margin-block: 1.5em;
  overflow-x: auto;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 2fr 3fr max-content max-content;
  gap: 3px 0.5em;
  align-items: center;

  .access-instance,
  .access-token {
    white-space: preserve nowrap;
    overflow-x: auto;
    font-size: smaller;
  }
  input {
    font-size: smaller;
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

h1 {
  overflow-x: hidden;
  margin: 1rem 0rem;
  border-block: 2px solid #000;
  padding: 0.5rem;
  background-color: #eee;
  font-size: 150%;
  font-weight: bold;
}

pre {
  overflow-x: auto;
  padding: 1rem;
  background-color: #ddd;
  &:empty {
    display: none;
  }
}

.bookmarklet-container {
  margin-block: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  #bookmarklet {
    padding: 0.5rem;
    white-space: pre;
    overflow-x: auto;
  }
  button {
    align-self: start;
  }
}

p {
  margin-block: 4px;
}

button {
  margin: 0;
  border: none;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: smaller;
  background-color: #000;
  color: #fff;
  text-align: start;
  transition: filter 0.2s;
  &:disabled {
    opacity: 0.6;
  }
  &:hover {
    filter: drop-shadow(#000 0 0 4px);
  }
  &:active {
    filter: drop-shadow(#000 0 0 8px);
  }
}

code {
  font-size: 100%;
  margin-inline: -1px;
  border-radius: 3px;
  padding: 0 1px;
  background: #0002;
}

#overview {
  margin-top: 1.5em;
  margin-bottom: calc(1.5em - 10px);
  overflow-x: auto;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: [start] 1fr repeat(6, max-content) [end];
  gap: 4px 0.8em;
  align-items: first baseline;

  .root-author {
    min-width: 10em;
    img.root-author-icon {
      width: 1.5cap;
      height: 1.5cap;
      border-radius: 20%;

      position: relative;
      top: 0.15cap;
    }
  }
  .separator {
    grid-column-start: start;
    grid-column-end: end;
    border-bottom: 1px solid #aaa;
  }
  .teaser {
    grid-column-start: start;
    grid-column-end: end;
    max-width: 100%;
    font-size: 90%;
    text-wrap-mode: nowrap;
    overflow-x: hidden;
  }
}

#new-entry {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  > input {
    flex-grow: 1;
    min-width: 25em;
  }
}

.bold {
  font-weight: bold;
}

.right {
  justify-self: end;
}

.line-through {
  text-decoration: line-through;
}

.warn {
  background-color: #ff0;
  margin-inline: -3px;
  border-radius: 5px;
  padding-inline: 3px;
}

.contents {
  display: contents;
}

.custom-emoji {
  /* height: 1.3cap;

  position: relative;
  bottom: -0.18cap; */
  height: .7lh;

  position: relative;
  bottom: -0.12lh;
}

.sanitization-error {
  border: 2px solid #f00;
  padding: 0.5em;
  background-color: #fff;
  color: #f00;
}

[hidden] {
  display: none !important;
}