.toot-content {
  white-space: pre-wrap;
}

p {
  margin-block: 0.3em;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

/* TODO make these hacks configurable?: */
span.ellipsis::after {
  content: "...";
}
span.invisible {
  display: inline-block;
  width: 0;
  text-wrap-mode: nowrap;
  overflow-x: hidden;
}

.custom-emoji {
  position: relative;
  bottom: -0.12lh;
  height: .7lh;
}
